<app-menu></app-menu>
<label>Product List</label> | 
<a routerLink = "/products/create">New Product</a> | 
<input [(ngModel)] = "searchCriteria" type= "text" placeholder = "search">
<div class = "component">
    <table class = "table table-sm">
        <tr>
            <th>Part Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Vendor</th>
        </tr>
        <tr *ngFor="let p of products | productSearch: searchCriteria | sort: 'name'">
            <td>{{p.partNbr}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.unit}}</td>
            <td>{{p.vendor != null ? p.vendor.name: "Undeclared"}}</td>
            <td>
                <a routerLink ="/products/detail/{{p.id}}">Details</a> | 
                <a routerLink ="/products/edit/{{p.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>
