<app-menu></app-menu>
<label>New RequestLine</label>
<div class = "component">
    <table class = "table table-sm" *ngIf = "requestline">
        <tr>
            <th>Id:</th>
            <td><input [(ngModel)] = "requestline.id" type = "text" size="10" disabled></td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td><input [(ngModel)] = "requestline.quantity" type = "number" size="10"></td>
        </tr>
        <tr>
            <th>Product:</th>
            <td>
                <select [(ngModel)] = "requestline.productId">
                    <option *ngFor = "let p of products" value = "{{+p.id}}">{{p.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Request:</th>
            <td>
                <input [(ngModel)] = "requestline.requestId" value = "{{+requestline.requestId}}" disabled>
        </tr>
        <td colspan="2">
            <button (click) = "save()" class = "btn btn-primary">Save</button>
        </td>
    </table>
</div>
