<app-menu></app-menu>
<label>New RequestLine</label>
<div class = "component">
    <table class = "table table-sm" *ngIf = "requestline">
        <tr>
            <th>Id:</th>
            <td><input [(ngModel)] = "requestline.id" type = "text" size="10" disabled></td>
        </tr>
        <tr>
            <th>Quantity:</th>
            <td><input [(ngModel)] = "requestline.quantity" type = "number" size="10" disabled></td>
        </tr>
        <tr *ngIf = "requestline.product">
            <th>Product:</th>
            <td><input [(ngModel)] = "requestline.product.name" type = "text" size="20" disabled></td>
        </tr>
        <tr>
            <th>Request:</th>
            <td>
                <input [(ngModel)] = "requestline.requestId" value = "{{+requestline.requestId}}" disabled>
        </tr>
        <td colspan="2">
            <button (click) = "delete()" class = "btn btn-danger">Delete</button>
        </td>
    </table>
</div>
